

.filter-search-container{
    padding: 1em ;
    gap: 1em;
    background-color: var(--secondary-bg);
    width: 95%;
    margin: .8rem auto;
    border-radius: .4em;
}
.filter-search-container input{
    /* width: 100%; */
    padding: .6em;
    border-radius: .4em;
    border: 1px solid var(--border-color);
    background-color: var(--primary-bg);
    color: var(--main-text);
    flex: 1;
    background-image: url('/../images/icons/search.svg');
    background-repeat: no-repeat;
    background-position: left .5em center;
    padding-left: 2.5em;
    width: 100%;
    box-sizing: border-box;
    transition: border-color .3s ease;
}

.filter-search-container input:focus{
    outline: none;
    border-color: var(--main-text);
}
.custom-select{
    appearance: none;
    background-image: url('/../images/icons/arrow_down.svg');
    background-repeat: no-repeat;
    background-position: right .5em center;
    background-size: 1em;
    flex: 1;
    padding: 1em;
    padding-left: 2em;
    background-color: var(--primary-bg);
    border: 1px solid var(--border-color);
    border-radius: .4em;
    color: var(--main-text);
    display: flex;
    max-width:200px;
    cursor: pointer;
    transition: border-color .3s ease;
}
.custom-select:focus{
    outline: none;
    border-color: var(--main-text);
}
.custom-select[open]{
    border-color: var(--main-text);
    background-color: var(--secondary-bg);
}
.custom-select option{
    padding: 1em;
    background-color: var(--secondary-bg);
    color: var(--main-text);
}

.custom-select:focus{
    outline: none;
    border-color: var(--main-text);
}

.user-table-container{
    overflow-x: auto;
    padding: 0;
}

.user-table{
    width: 100%;
    border: 2px solid var(--border-color);
    margin-bottom: 20px;
    border-radius: .4em;
    border-spacing: 0;
    overflow: hidden;
    min-width: 800px;
}

.user-table thead tr {
  background-color: var(--secondary-bg);
  color: var(--main-text);
}

thead th ,
tbody td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 2px solid var(--border-color);
}
tbody tr:last-child td{
  border-bottom: none;
}

.action-btn{

    /* display: inline-block; */
    margin-right: .5em;
    cursor: pointer;
    background: none;
    border: none;
    background-color: var(--highlight-bg);
    padding: .4em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .4em;
    border: 1px solid var(--border-color);
}
.action-btn:hover{
    background-color: var(--secondary-bg);
    border-color: var(--main-text);
}
.action-btn img{
    width: 1.5em;
    height: 1.5em;
}