.aside_nav{
    background-color: var(--secondary-bg);
    height: 100vh;
    width: 20vw;
    max-width: 250px;
    flex-direction: column;
    padding-top: 1em;
    border-right: 2px solid var(--border-color);
    position: fixed;
    top: 0;
    justify-content: space-between;
}
.logo{
    color: var(--primary-600);
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
}
.logo img{
    height:50px;
    width:auto;
}
.aside_nav hr{
    width: 100%;
    height: 1px;
    border-style: solid;
    background-color: var(--border-color);
    border-color: var(--border-color);
}


.aside_nav ul{
    list-style: none;
    flex-direction: column;
    gap: .8em;
}
.nav-link{
    padding: .8em;
    border: 1px solid transparent;
    display: flex;
    gap: .4em;
    align-items: center;
    color: var(--secondary-text);
    text-decoration: none;
    border-radius: .4em;
}
.nav-link img{
    filter: invert(.2);
}
.active-link{
    color: var(--main-text);
    border-color: var(--main-text);
}
.active-link img{
    filter: invert(0);
}
.nav-link:hover{
    background-color: var(--highlight-bg);
}

section{
    height: 100%;
    width: 100%;
    /* background-color: red; */
}

.navigation {
    flex-direction: column;
    gap: 1em;
    align-items: center;

}
.profile{
    width: 100%;
    border-top: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
    padding: 1em 0;
}
.profile img{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-bottom: .5em;
}
.profile-info{
    align-items: center;
    justify-content: center;
    gap: .5em;
    width: 100%;
}
.username{
    color: var(--main-text);
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: .2em;
    text-align: center;
    text-transform: capitalize;
    /* margin-bottom: .2em; */
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    max-width: 150px;
}
.role{
    color: var(--secondary-text);
    font-size: .8rem;
    font-weight: 500;
    /* margin-top: .2em; */
}
.container{
    width: 95%;
    margin: .8em auto;
    padding: 1em;
}
.main-content{
    width: calc(99vw - min(20vw, 240px));
    height: 100%;
    margin-left: auto;
    align-items:center;
}

.header{
   width: 95%;
   margin: 1.5em auto;
   border:none;
}
.header h1{
    font-size: 2em;
    margin-bottom: .2em;
}
.header p{
    color: var(--secondary-text);
    font-size: 1em;
    letter-spacing: .05em;
}

