
.products-container{
    display: grid;
    gap: 1em;
    justify-items: center;
}

.product-card {
    height: 250px;
    min-height: 200px;
    width: max(100%, 200px);
    border: 1px solid var(--border-color, #ddd);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
.product-image{
    background-color: var(--highlight-bg, #f8f8f8);
    width: 50%;
}
.product-image img {
    height: 100%;

    display:block;
    margin: 0 auto;
    object-fit: contain;
}
.product-details {
    width: 60%;
    padding: .8em;
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
    /* justify-content: space-between; */

}
.product-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.4em;
}
.product-brand {
    font-size: .8em;
    color: var(--secondary-text, #555);
    letter-spacing: 0.05em;
    margin-bottom: 0.8em;
    text-transform: uppercase;
    font-family: Roboto;
}
.price-container{
    margin-bottom: 0.8em;
}
.product-original-price{
    text-decoration: line-through;
    font-size: .8em;
    color: var(--secondary-text);
}
.product-discount{
    font-size: .8em;
    background-color: var(--secondary-500);
    padding: .2em;
    color: black;
    border-radius: .2em;
}
.product-card-link{
    text-decoration: none;
    color: unset;
    height: 100%;
}
.like-product-btn{
    width: fit-content;
    background-color: var(--primary-bg);
    border: none;
    height:30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: .4em;
    left: 0.4em;
    cursor: pointer;
    z-index:0;
}
.like-product-btn::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: inherit;
    z-index: -1;

}
.like-product-btn.processing::before {
    border: 1px solid ;
    border-left-color: var(--secondary-500);
    border-right-color: var(--secondary-500);
    animation: rotate 1s infinite;
}

@keyframes rotate {
   0% {
       transform: rotate(0deg);
   }
   100% {
       transform: rotate(360deg);
   }
}
.like-product-btn:hover{
    background-color: color-mix(in srgb, var(--primary-bg), transparent 50%);
}

@media only screen and (min-width : 578px){
    .product-card{
        flex-direction: column;

        height: 350px;
    }
    .product-image{
        width: 100%;
        height: 50%;
    }
    .product-details{
        width: 100%;
        height: 50%;
    }
    .like-product-btn{
        right: 0.4em;
        left: unset;
        height: 40px;
    }
    .products-container{
        grid-template-columns:  repeat(auto-fill, minmax(250px, 1fr));;
    }
}
